html {
    overflow-x:hidden;

    font-size: 3px;
}
body {
    background: radial-gradient(circle farthest-corner at 50px 50px,  #3CB6E5, #9708CC, #721e5b, #0d0a0e);
}
font-family: 'Roboto', sans-serif;
a {
    text-decoration: inherit;

    color: inherit;
}
header {
    position: relative;

    display: flex;

    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.adaptive {
    display: grid;
}
.description {
    display: flex;

    margin-top: 3rem;

    text-align: center;

    align-items: center;
    align-content: space-around;
    justify-content: center;
    flex-flow: column nowrap;
}
.description h1 {
    text-align: center;
    text-transform: uppercase;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 70px;
    font-weight: bold;
}
@media (max-width: 320px) {
    .description {
        font-size: 20px;
    }
}
.buttons {
    margin-top: 25px;
}
.button a {
    display: inline-block;

    margin-top: 60px;
    margin-bottom: 0px;
    padding: 25px;

    transition: all .2s ease-in-out;
    text-transform: uppercase;

    color: #fff;
    border: 2px #fff solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
}
.paragraph_1 {

    margin-top: 25px;
    margin-right: 330px;
    margin-bottom: 25px;
    margin-left: 330px;

    text-align: center;
    text-transform: none;

    color: #fff;
    font-weight: bold;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 25px;
    line-height: 48px;
}
.paragraph_2 {
    margin-top: 25px;
    margin-right: 330px;
    margin-bottom: 25px;
    margin-left: 330px;

    padding-bottom: 90px;

    text-align: center;
    text-transform: none;

    color: #0d0a0e;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
}
.paragraph_3 {
    margin-top: 25px;
    margin-right: 660px;
    margin-bottom: 25px;
    margin-left: 20px;

    text-align: left;
    text-transform: none;

    color: #fff;
    font-weight: bold;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 25px;
}
.paragraph_4 {
    margin-top: 25px;
    margin-right: 660px;
    margin-bottom: 25px;
    margin-left: 20px;

    text-align: left;
    text-transform: none;

    color: #0d0a0e;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 30px;
    line-height: 30px;
}
.paragraph_5 {
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 660px;

    text-align: right;
    text-transform: none;

    color: #fff;
    font-weight: bold;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 25px;
}
.paragraph_6 {
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 90px;
    margin-left: 660px;

    text-align: right;
    text-transform: none;

    color: #0d0a0e;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 30px;
    line-height: 30px;
}
.paragraph_7 {
    margin-top: 25px;
    margin-right: 660px;
    margin-bottom: 25px;
    margin-left: 20px;

    text-align: left;
    text-transform: none;

    color: #fff;
    font-weight: bold;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 25px;
}
.paragraph_8 {
    position: absolute;
    margin-top: 25px;
    margin-right: 660px;
    margin-bottom: 25px;
    margin-left: 20px;

    text-align: left;
    text-transform: none;

    color: #0d0a0e;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 30px;
    line-height: 30px;

}
.image-container {
    position: relative;
}
.cnt {
    padding-top:10px;
    position: relative;

    width: 100%;

    text-align: center;
    text-transform: none;

    color: #fff;
    background-color: #000;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 10px;
    line-height: 20px;
}
.info {
    font-size: 15px;
    font-weight: bold;
}
